html,
body {
  font-family: var(--ff1);
  color: var(--cw);
  font-size: 1rem;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--cb);
}

.overhide {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"], .container {
  padding: 0 2.5em;
  margin: 0 auto;
}

/* --------- Adaptive tablet (1440px) --------- */

@media screen and (max-width: 1440px) {
  html,
  body {
    font-size: 1.16vw;
  }
}

/* --------- Adaptive desktop (960px) --------- */

@media screen and (max-width: 960px) {
  html,
  body {
    font-size: 16px;
  }

  [class*="__container"], .container {
    padding: 0 1.25em;
  }
}

/* --------- Adaptive desktop (772px) --------- */

// @media screen and (max-width: 772px) {
//   html,
//   body {
//     font-size: 2.07vw;
//   }
// }

/* --------- Adaptive desktop (500px) --------- */

@media screen and (max-width: 500px) {
  html,
  body {
    font-size: 16px;
  }
}

/* --------- Adaptive desktop (375px) --------- */

@media screen and (max-width: 375px) {
  html,
  body {
    font-size: 4.27vw;
  }
}
