<section class="section__form">
    <div class="container">
        <h1>Customer Onboarding </h1>
        <div class="tt2">Get started</div>
        <div class="tt3">Let's get acquainted</div>
        <form class="form">
            <label class="label">
                <span>Name</span>
                <input type="text" name="Name" placeholder="Type here" class="input required">
            </label>
            <label class="label">
                <span>Email</span>
                <input type="email" name="Email" placeholder="example234@gmail.com" class="input required">
            </label>
            <label class="label">
                <span>Company name</span>
                <input type="text" name="Company" placeholder="Type here" class="input">
            </label>
            <label class="label">
                <span>Telegram</span>
                <input type="text" name="Telegram" placeholder="@nickname" class="input">
            </label>
            <label class="label">
                <span>Region</span>
                <select name="Region" class="selector required">
                    <option value="" selected="selected">Please select</option>
                    <option value="Variant 1">Variant 1</option>
                    <option value="Variant 2">Variant 2</option>
                    <option value="Variant 3">Variant 3</option>
                    <option value="Variant 4">Variant 4</option>
                    <option value="Variant 5">Variant 5</option>
                    <option value="Variant 6">Variant 6</option>
                    <option value="Variant 7">Variant 7</option>
                    <option value="Variant 8">Variant 8</option>
                    <option value="Variant 9">Variant 9</option>
                    <option value="Variant 10">Variant 10</option>
                </select>
            </label>
            <label class="label">
                <span>Business type</span>
                <select name="Business" class="selector required">
                    <option value="" selected="selected">Please select</option>
                    <option value="Variant 1">Variant 1</option>
                    <option value="Variant 2">Variant 2</option>
                    <option value="Variant 3">Variant 3</option>
                    <option value="Variant 4">Variant 4</option>
                    <option value="Variant 5">Variant 5</option>
                    <option value="Variant 6">Variant 6</option>
                    <option value="Variant 7">Variant 7</option>
                    <option value="Variant 8">Variant 8</option>
                    <option value="Variant 9">Variant 9</option>
                    <option value="Variant 10">Variant 10</option>
                </select>
            </label>
            <label class="label">
                <span>Monthly expected turnover</span>
                <select name="Region" class="selector required">
                    <option value="" selected="selected">Please select</option>
                    <option value="Variant 1">Variant 1</option>
                    <option value="Variant 2">Variant 2</option>
                    <option value="Variant 3">Variant 3</option>
                    <option value="Variant 4">Variant 4</option>
                    <option value="Variant 5">Variant 5</option>
                    <option value="Variant 6">Variant 6</option>
                    <option value="Variant 7">Variant 7</option>
                    <option value="Variant 8">Variant 8</option>
                    <option value="Variant 9">Variant 9</option>
                    <option value="Variant 10">Variant 10</option>
                </select>
            </label>
            <div class="form__bottom">
                <button class="formbutton sendButton">Send</button>
            </div>
        </form>
    </div>
</section>

<div class="popup" id="sucessPopup">
    <div class="overlay closePop"></div>
    <div class="popup__cont">
        <div class="popup__ttl">
            Registration Successful
        </div>
        <div class="popup__txt">
            Congratulations! Your registration is complete. 
            <br>Click below to return to the homepage and start your journey with us!
        </div>
        <a href="/" class="popup__btn">Go to Homepage</a>
    </div>
</div>